.intro
   background: url('/img/intro-bg.jpg') center / cover no-repeat
   // min-height: 660px
   &__blur
      // min-height: 660px
      background: rgba(15, 13, 13, 0.5)
      backdrop-filter: blur(5px)
      padding-bottom: 30px
   &__title
      color: $text-color-main
      max-width: 740px
      text-align: center
      margin: 0 auto
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      font-family: Pacifico
      font-size: 56px
      margin-bottom: 20px
      @media screen and ( max-width: 1023px)
         font-size: 42px
      @media screen and ( max-width: 550px)
         font-size: 36px
   &__text
      color: $text-color-main
      max-width: 1050px
      margin: 0 auto
      text-align: center
      font-family: Sofia Sans
      font-size: 32px
      letter-spacing: 3.84px
      margin-bottom: 30px
      @media screen and ( max-width: 1023px)
         font-size: 26px
      @media screen and ( max-width: 550px)
         font-size: 18px

   &__picture-blocks
      display: flex
      justify-content: space-between
.picture-block
   display: flex
   flex-direction: column
   align-items: center
   &__picture
      border: 10px double #fff
      border-radius: 50%
      text-align: center
      margin-bottom: 22px
      transition: all 0.3s
      width: 250px
      height: 250px
      overflow: hidden
      @media screen and ( max-width: 1023px)
         width: 180px
         height: 180px
      @media screen and ( max-width: 650px)
         width: 160px
         height: 160px
      @media screen and ( max-width: 550px)
         width: 100px
         height: 100px
      img
         transition: all 0.5s
         &:hover
            transform: scale(1.2)
   &__text
      text-align: center
      color: $text-color-white
      font-family: Sofia Sans
      font-size: 30px
      font-weight: 500
      @media screen and ( max-width: 1023px)
         font-size: 22px
      @media screen and ( max-width: 550px)
         font-size: 18px
